[2015-04-23 09:20] awailly opened #1 "Section 05 does not comment out the lines"
After execution, the exec and login lines are still present in /etc/inetd.conf. The current `lineinfile` task does not work.

[2015-04-24 13:09] #1 closed

[2015-05-04 10:52] pchaigno opened #2 "AppArmor activation error"
On a new Ubuntu 14.04 in a VM, it runs okay until:
[code]

[2015-05-04 11:21] awailly commented on #2
Can you provide a link to the iso file used for the install ?

[2015-05-04 11:41] awailly opened #3 "Add lines to audit for 8.1.12 Collect Use of Privileged Commands (infos)"
Move from comments to file feeding

[2015-05-04 13:52] awailly commented on #2
Seems to be a known bug https://bugs.launchpad.net/apparmor/+bug/1378095. I will try to bypass aa-enforce.

[2015-05-04 14:31] #2 closed

[2015-05-06 13:37] awailly opened #4 "Dangerous behavior if one passwd daemon contains the root directory"
- Section 13.7.2 performs g-w,o-rwx and may completely lock the system while applied on /
- Maybe add "false" to egrep

[2015-05-06 13:46] #4 closed

[2015-05-11 09:57] awailly opened #5 "Section 02-14 bad mount remediation (may lock the system)"
The current mount service only provide session-wide settings, we have to feed the /etc/fstab rather than configuring mount options.

[2015-05-11 13:25] #5 closed

[2015-05-12 09:38] #3 closed

[2015-05-12 11:17] pchaigno opened #6 "Invalid literal for int() error"
On a new Ubuntu 14.04 in a VM:

[code]

[2015-05-12 16:03] #6 closed

[2015-05-13 09:41] pchaigno opened #7 "AppArmor activation error during second execution"
On an Ubuntu 14.04 Desktop in a VM, when running the playbook for the second time:

[code]

[2015-05-13 20:55] pchaigno opened #8 "Error with new parameter in variable"
On an Ubuntu Desktop 14.04 in a VM:

[code]

The first output lines from [`audit_lines_for_find`](https://github.com/awailly/cis-ubuntu-ansible/blob/65a0d28b6ec721aa7a5396f559b1085d61ac3c90/tasks/section_08_level2.yml#L226-L233):
[code]

[2015-05-13 21:47] pchaigno opened #9 "AppArmor not available on Raspbian"
Here's what happen with a Raspbian:
[code]

Good luck fixing this one! :stuck_out_tongue_closed_eyes:

[2015-05-14 13:06] pchaigno commented on #8
Also happening under Raspbian at [`section_08_level2.yml#L104`](https://github.com/awailly/cis-ubuntu-ansible/blob/master/tasks/section_08_level2.yml#L104):

[code]

[2015-05-14 13:43] pchaigno commented on #7
If this is happening because a previous run was interrupted, why not record somewhere that Ansible is running and only remove that information when it finishes successfully? A file with that information in the `ansible` folder would be acceptable, no?

[2015-05-14 14:40] pchaigno opened #10 "AppArmor can't start under Ubuntu 14.10"
The idempotence test fails under Ubuntu Desktop 14.10 (in a VM). It looks like AppArmor can't start (after at least 3 executions):
[code]

Here's what I get when I try to start AppArmor:
[code]

[2015-05-14 16:29] pchaigno opened #11 "Cron config file under Raspbian"
Looks like the cron config file isn't at the same place in Raspbian:
[code]

[2015-05-15 10:00] awailly commented on #9
The 4.5 Activate AppArmor is tagged as level 2, meaning it has a strong impact on the system. I prefer to setup an option in defaults/main.yml rather than checking for kernel support. It is hard to automate the kernel recompile, usually needing a cross-compile to be efficient.

[2015-05-15 10:05] #9 closed

[2015-05-15 10:10] awailly commented on #7
The services need to be restarted to apply new AppArmor profiles. Here the command `sudo service <unconfined service name> restart` will solve the problem. As this is a common problem, I will fix with a `notify: restart rsyslog`.

[2015-05-15 10:19] awailly commented on #7
Check if cb054bd0ed781881ab5d259917184c0ff4b006a7 fixes the problem.

[2015-05-15 10:20] awailly commented on #8
Does the PR fix both errors ?

[2015-05-15 10:23] awailly commented on #11
I will modify the service enabling with the `service` module with cron and enabled=yes

[2015-05-15 10:27] #11 closed

[2015-05-15 11:01] pchaigno commented on #8
Yep

[2015-05-15 11:01] #8 closed

[2015-05-15 20:44] pchaigno commented on #7
Still an issue.
It looks like the first execution doesn't need to fail or be interrupted though:
Result of the first and only previous execution before the failed execution:

[code]

[2015-05-15 20:56] pchaigno commented on #7
Weird, after I restarted the rsyslog service myself, the execution succeeded :confused:

[2015-05-15 21:05] awailly commented on #7
Ok, seems that the service module is buggy right now. See https://github.com/ansible/ansible-modules-core/issues/1298 for temporary fixes. We should try with ansible v2 or downgrade to 1.8.

[2015-05-16 08:39] pchaigno commented on #7
The last development version doesn't solve it :worried::

[code]

[2015-05-16 16:02] pchaigno opened #13 "Escape variable containing quote"
[This line](https://github.com/awailly/cis-ubuntu-ansible/blob/master/tasks/section_12_level1.yml#L66) throws an error when the variable contains a single quote.
I couldn't find how to properly escape it :/

[code]

[2015-05-16 18:45] awailly commented on #13
Nice find, I will investigate proper quoting. Thanks!

[2015-05-16 19:01] awailly commented on #7
Thus I added a dedicated task to restart the service. Check if f170ea8e8eabecbadc29dd65fc05d549306f36c2 fixes the problem, else I will call the shell command directly.

[2015-05-16 20:40] #13 closed

[2015-05-17 06:54] pchaigno opened #14 "Missing PAM module in Raspbian"
After the execution of the Ansible playbook on a Raspbian, my logs fill up with:
[code]

[2015-05-17 07:03] pchaigno commented on #14
The default file doesn't even contain [`pam_cracklib.so`](https://github.com/awailly/cis-ubuntu-ansible/blob/00b0dd0d78010c93b01bf0dd630c6b1f368b4b51/tasks/section_09_level1.yml#L126)

Looks like `lineinfile` adds the new line at the end of the file if the regexp is not matched...

[2015-05-17 17:37] awailly commented on #14
I have to check if the libpam-cracklib is available on Raspbian, if the path is `/lib/security` and if the package is already installed on Ubuntu.

[2015-05-17 17:40] pchaigno commented on #14
It's available but not installed by default.

[2015-05-17 17:41] awailly opened #15 "Move tests in a specific configuration file"
@pchaigno suggested that code does not have to know about the testing environment, which is correct. Remove the `travis_env` variable and create a specific configuration file in tests. Update the .travis.yml to copy the tests/main.yml to default/main.yml in before_install.

[2015-05-17 17:49] #14 closed

[2015-05-17 18:43] awailly opened #16 "Warn about large amout of generated logs"
The auditd configuration may generate a large amount of logs locally if no remote server log is configured. Add an option to warn about that.

[2015-05-17 19:09] #15 closed

[2015-05-18 15:43] paskl47 commented on #16
According to CIS, remote syslog server is mandatory (cf. 8.2.5 Configure rsyslog to Send Logs to a Remote Log Host). Maximum size of the audit log file is defined in 8.1.1.1 (Configure Audit Log Storage Size).

[2015-05-18 15:52] awailly commented on #16
Thus it is a bug if the Maximum Log Size is defined and the log size is higher than the limit. Please check that the limit is correctly defined and that the filesystem cannot be filled.

[2015-05-18 16:32] pchaigno opened #17 "Missing argument for mount module"
When enabling `partitioning`:
(Ubuntu Desktop 14.04 in a VM)
[code]

[2015-05-19 04:52] mjallday opened #19 "Cannot install via ansible galaxy"
I added this to my `requirements.yml`:
[code]

and then tried to install via `ansible-galaxy install -r requirements.yml  -p $(pwd)/roles --force`

[code]

I suspect the issue is the [empty dependencies here](https://github.com/awailly/cis-ubuntu-ansible/blob/master/meta/main.yml#L33). this should be `- dependencies: []`

[2015-05-19 07:16] #19 closed

[2015-05-19 07:23] awailly commented on #7
@pchaigno were you able to test the fix on your system?

[2015-05-19 07:29] awailly opened #21 "Add readthedocs badge in README"
@paskl47 Can you add the badge in the README? We need to check if everything is good quickly, and have the exact URL.

[2015-05-19 07:51] pchaigno commented on #7
Yep it works with the last development version but there's still an issue with the new rsyslog restart step in the last released version.

[2015-05-19 08:56] #21 closed

[2015-05-19 12:15] awailly commented on #17
Please check if commit 737795d6fa901a9c52fff644e6ca865774ed4540 fixes the issue.

[2015-05-19 12:35] pchaigno opened #22 "AppArmor can't start under Debian 8"
Under Debian 64bit 8.0.0 in a VM:
[code]

[code]

Could be the same issue as #10.

[2015-05-19 13:29] awailly commented on #22
Can you provide the reason of the failed start? Is level 1 OK?

[2015-05-19 14:29] paskl47 commented on #16
Normally, auditd will hold 4 logs of maximum log file size before deleting older log files. So if the MMaximum Log Size is defined to 200 Mb, then the system may hold 800 Mb of log.

[2015-05-19 14:53] awailly commented on #16
Ok, the bug was related to syslog (https://bugs.launchpad.net/ubuntu/+source/rsyslog/+bug/1366261) and not to auditd. I thing we should rename the Maximum Log Size variable to include "audit". It is misleading.

[2015-05-19 15:32] awailly commented on #16
There was an underlying bug in the CIS order that prevented the default auditd.conf file to be created. The default location was thus rsyslog. Fixed in 6fbd5aabf88c112dc9d02182ab5b3810a8682d5e. Please change variable name and close the issue!

[2015-05-19 20:29] pchaigno commented on #17
Nop, `2.2 - 4` is failing now:

[code]

EDIT: I don't get why it didn't fail before...

[2015-05-19 20:44] pchaigno opened #23 "Error when partitioning with tmp not in a separate partition"
When partitioning with `/tmp` in a shared partition. Should we leave it like this or should it skip this one?
[code]

[2015-05-19 20:44] awailly commented on #17
This is related to the commit de48cff7bfb802421385246ef9338dbc4fa4bb27 where you fixed the boolean value for "partitioning". The tests were skipped otherwise

[2015-05-19 20:45] pchaigno commented on #17
I don't think so because I fixed the issue with the boolean value locally before finding this issue.

[2015-05-19 20:47] awailly commented on #17
And you set "partitioning: True" in main.yml ? At least, this is the answer of why travis is still building.

[2015-05-19 20:49] pchaigno commented on #17
Yep (see the first line in the first post ;)
It's as if it did `2.6` before doing `2.2 - 4` :scream:

[2015-05-19 20:54] #17 closed

[2015-05-20 09:45] pchaigno commented on #23
@awailly Have you ever tried to run the playbook on a VM with a separate partition for `/tmp`?

[2015-05-20 10:49] sabriedd commented on #23
That was planned 2 weeks ago before i went on holidays. So, let me try to pop a VM with the required partitioning and i'll keep you informed

[2015-05-20 10:49] pchaigno commented on #23
@SpoonBoy Great! Thanks!

[2015-05-20 10:57] awailly commented on #23
No I didn't, @SpoonBoy is in charge of the section 2. But I will help if thinks get complicated.

[2015-05-20 11:48] pchaigno opened #25 "Test Coverage"
Currently code coverage is low because Travis test build is very limited (that's mainly the reason why it's so easy to find bugs :p). Some tasks can't be tested because of Travis limitations but many other tasks could be tested if the Travis VM had more "issues".

For instance, Travis didn't find the issue with quotes (#13) because it simply didn't have any [unowned file](https://github.com/awaill

[2015-05-20 13:15] #23 closed

[2015-05-20 13:17] awailly commented on #25
Very interesting! What about the coverage being the ratio of changed elements on the total number of tasks ? On the first run I mean.

[2015-05-20 13:21] sabriedd commented on #23
@pchaigno that might be fixed now, if you could test.

[2015-05-20 13:23] pchaigno commented on #25
Yep, that could probably be a good estimation.

[2015-05-20 13:27] sabriedd commented on #25
Well ... Doing this will not work i think, as we're using Boolean values in defautls/main.yml
Depending on the choice of the one who'll use this ansible playbook, there might be (important) parts of the playbook that wont be played.

[2015-05-20 13:31] pchaigno commented on #25
Sure but that's the best we can do. The value computed will evaluate the coverage from Travis only.

[2015-05-20 14:15] pchaigno commented on #23
Same error on my side :/ (with shared partition for `/tmp`)
Looks like `2.2 - 4` wasn't changed in 50cad8d...

[2015-05-20 14:55] sabriedd commented on #23
what is your actual setup ? (when you say "shared partition" does it mean shared folder between host and guest ?)
could you send the output of the `mount` command ?
For me, using Ubuntu 14.04.2 LTS works fine.
before the execution of the playbook :

[code]

and after the play :

[code]

[2015-05-20 15:10] pchaigno commented on #23
Shared partition means `/tmp` doesn't have its own partition. Sorry if that was unclear.
![df](https://cloud.githubusercontent.com/assets/1764210/7729062/01ed7fde-ff13-11e4-9d92-61fe207f1784.png)

`mount` returns `Error mounting /tmp: mount: /tmp is not a block device`.

[2015-05-20 15:13] sabriedd commented on #23
ok, then it is a normal behavior i think. As there is no dedicated partition ... mount will fail. That's why the partitioning option is at false by default.

[2015-05-20 15:22] pchaigno commented on #23
Hence my initial question ;)

[2015-05-20 17:02] awailly commented on #23
I think you can still mount it if you specify that the /tmp folder should be bind mounted.

Can you try to add the "bind" string to "options" in the ansible `mount` service (section 2.2 - 4) ?

[2015-05-20 20:08] pchaigno commented on #23
Yes it works for `2.2 - 4` but then it fails for `2.10`:

[code]

<br>

Also, the `bind` option is just a hotfix for this, right? Does that mean we leave it like this for other users? I'm asking just to clarify. It's probably okay since there is the `partitioning` to enable/disable exactly this part of the hardening.

[2015-05-20 21:46] awailly commented on #23
I see two solutions here:
- Extend the documentation to reference this issue and give solutions when the user is not able to have a separate partition for /tmp @paskl47
- Add an explicit variable for bind mounting specific partitions. However this will not setup a secure target @SpoonBoy

I prefer the first one, the second is more a hotfix as you said.

[2015-05-21 08:54] sabriedd commented on #23
According to the CIS rules we are applying, it should be dedicated partition in the fstab.

So, or there is partitioning, then section 2 will pass correctly, or there is not, and section 2 will be skipped.

It is not possible (at least, i didn't manage to do so), using ansible to change how the partitioning is done in a current live system, and have it to reboot properly the next time. That is als

[2015-05-21 08:57] pchaigno commented on #23
I also think the first one would be a better solution :+1:

[2015-05-21 09:27] sabriedd commented on #23
@paskl47 I added the documentation : check cc56553ad3b112f7ebdad27d5bcc7df255755748

[2015-05-21 17:19] sabriedd commented on #22
That one was tricky :)

actually, the error was :

[code]

 or in short  `apparmor not availble as kernel LSM`

In Debian 8 Jessie :

[code]

In Debian 7 Wheezy :

[code]

Finally :

[code]

So, maybe tomorrow i'll change the ansible task and check the distro version and make some modification accordingly

[2015-05-21 21:21] awailly commented on #7
Ok, given the time between releases we can close this bug and use the manual restart as temporary fix. It is cleaner than temporary patch and then fix (we may forget).

[2015-05-21 21:21] #7 closed

[2015-05-21 21:22] awailly commented on #16
Fixed with 3b58edb61a93802078f9d7ae7dada5192e10ed30

[2015-05-21 21:22] #16 closed

[2015-05-22 12:15] pchaigno commented on #22
I followed the steps for Debian 8. I get the following error:

[code]

[2015-05-22 12:26] awailly commented on #22
It looks like another issue. Manually restarting the cups service answer the question ? If yes, and given we already explained how to solve the issue in https://github.com/awailly/cis-ubuntu-ansible/issues/7#issuecomment-102357799, we have to update the documentation to solve such errors @paskl47.

[2015-05-22 12:41] awailly commented on #25
I am looking for a way to create a HTML badge from the travis result. That way we can have a direct view of the code coverage on the main page of the project. Do you know a tool that can do that ?

[2015-05-22 13:42] pchaigno commented on #25
I had the same idea :-)
I checked quickly and didn't find anything. If I don't find anything I'll try to ask the guys from GitHub. Otherwise there's probably a way to do that quickly with Heroku...

[2015-05-22 22:01] pchaigno commented on #25
I couldn't find a way to do that other than by using Heroku or with weird hacks that may not even work.
I sent an email to the guys at GitHub to see if they have a better idea.

[2015-05-22 22:26] awailly commented on #25
The Heroku think is working? Never used it before.

[2015-05-24 21:05] awailly opened #27 "Create separate defaults configuration file for each test environment"
PR #26 underlined how not to configure a new environment. We have to move the `tests/main.yml` to `tests/travis_defaults.yml` and update the travis `before_install` accordingly. I let @pchaigno update the new `tests/drone_defaults.yml` file for its tests.

[2015-05-24 21:56] #27 closed

[2015-05-26 09:10] awailly commented on #10
It seems to be a known bug (https://bugs.launchpad.net/ubuntu/+source/apparmor/+bug/1387220) and the good way to do it is with the following command

[code]

However, it is strange that it works flawlessly on 15.04.

[2015-05-26 09:10] #10 closed

[2015-05-28 05:25] pchaigno opened #30 "TCP Syncookies support"
When I launch the playbook on an Ubuntu 14.04 in Docker:

[code]

Looks like there is no TCP syncookies support in the kernel. Is it mandatory for the CIS rules? If it is, we'll probably need to add an option to skip it in Docker. Otherwise, it should detect that the kernel doesn't support it and skip this task automatically...

EDIT: Docker build: https://registry.hub.docker.com/u/pchaigno/cis-ub

[2015-05-28 17:51] awailly commented on #30
I think the best solution is to add a new variable and disable it for the Docker environment. The provided URL requires authentication.

[2015-05-31 14:23] #30 closed

[2015-06-01 09:43] awailly commented on #25
We managed to add travis, drone.io and Docker for automatic testing.

[2015-06-01 09:43] #25 closed

[2015-06-01 09:45] awailly opened #36 "Remove code-coverage-branch"
I am not the creator, please remove it if not used anymore!

[2015-06-01 09:46] #36 closed

[2015-06-11 09:45] pchaigno opened #40 "Check the Operating System"
We could check the Operating System (in our case Debian-based) before running the playbook to prevent the user from running it against an unsupported OS.

[2015-06-11 13:04] pchaigno opened #41 "Improve README"
Creating this issue to list to different things missing in the README. I'll probably turn this into a pull request once we have a stable list of what the README should include/explain.
- [x] Link to readthedocs
- [x] Specific version of Ansible needed (1.9.0.1)
- [x] How to only perform an audit
- [x] What OS are supported
- [x] Option to add to the command line call when a sudo password is requir

[2015-06-14 21:17] awailly commented on #41
It is hard to contribute on this one as I cannot find the branch your are working on. Can we work on the `readme` branch on this repo?

[2015-06-14 21:21] awailly commented on #40
Seems like a straightforward `when: ansible_os_family == "Debian"` will do the trick. Can you try on Raspbian? I will add the line in the role or playbook if working.

[2015-06-15 04:33] pchaigno commented on #41
I haven't started working on this so `readme` is fine :)

[2015-06-15 11:26] awailly commented on #41
Partial contribution for the first half of the list.

[2015-06-15 13:18] awailly opened #43 "Change minimum ansible version for galaxy"
We need at least ansible 1.8, galaxy says 1.6.

[2015-06-15 13:27] pchaigno commented on #43
Don't we need exactly 1.9.0.1?

[2015-06-15 13:46] pchaigno commented on #43
Could we change [`min_ansible_version: 1.6`](https://github.com/awailly/cis-ubuntu-ansible/blob/master/meta/main.yml#L10) to `ansible_version: 1.9.0.1`?

[2015-06-15 14:31] awailly commented on #43
Yes, I just forgot why we can't use 1.8.

[2015-06-17 16:19] pchaigno opened #44 "Auditd denying access to rsyslogd"
On an Ubuntu 14.04.02, after running the playbook once and restarting:
- `/var/log/audit/audit.log` fills up with `type=AVC msg=audit(1434557031.321:238105): apparmor="DENIED" operation="open" profile="/usr/sbin/rsyslogd" name="/run/utmp" pid=1033 comm=72733A6D61696E20513A526567 requested_mask="r" denied_mask="r" fsuid=101 ouid=0` lines.
- The rsyslog daemon is using 100% of one core.

/cc @paskl4

[2015-07-23 11:56] awailly commented on #44
Information about the bug in https://bugs.launchpad.net/ubuntu/+source/rsyslog/+bug/1366261. Weird that rsyslog is not up to date on our system.

[2015-07-23 12:52] awailly commented on #44
Patch commited. If you have the problem, turn the flag `send_rsyslog_remote: False` in the defaults/main.yml file. If you need remote rsyslog, setup the IP address in the section 8 task file.

[2015-07-23 15:12] #44 closed

[2015-07-23 15:53] awailly commented on #40
@pchaigno Did you have time for Raspbian tests ?

[2015-07-23 15:57] #43 closed

[2015-07-23 15:58] pchaigno commented on #40
Not yet. I'll need to reinstall it first.

[2015-07-23 16:00] awailly commented on #40
Ok awesome. The faster the better, you know that I can't sleep if there are issues opened :)

[2015-07-23 16:02] pchaigno commented on #40
You must have had terrible holidays then...

[2015-07-24 11:07] awailly commented on #40
I did! And did you test in the meantime?

[2015-07-24 12:13] pchaigno commented on #40
Okay, it works for Raspbian too.

I can open a pull request to add it to the instructions in the README (for the roles-ubuntu playbook) but I don't think it's the best place for it.
First, because it should probably be in the source code itself. And secondly, because it doesn't fail saying that this OS family is not supported, it just runs through the whole playbook skipping all tasks :/

[2015-07-24 12:20] awailly commented on #41
@pchaigno can you check the new README and tell if it matches your expectations?

[2015-07-24 12:27] pchaigno commented on #41
:+1:

Closing in favor of #47.

[2015-07-24 12:27] #41 closed

[2015-07-24 13:02] awailly commented on #40
Yes great, put it into the role directly. However I don't know the good place to add it in the tasks.

[2015-07-24 13:14] pchaigno commented on #40
What about a `main.yml` in `tasks/` that calls a second file with the current content of `main.yml`? That way, we could add all our general conditions (Ansible version and OS family) in the new `main.yml`...

[2015-07-24 14:10] awailly commented on #40
I think this solution add an unneeded layer, and I cannot see why it is better than adding it to the main.yml.

[2015-07-24 14:29] pchaigno commented on #40
Actually, I'm not even sure the solution I proposed could work.

I must be missing something because I don't see how we can add a `when` condition in `main.yml` without adding it for each item :/

[2015-07-24 14:35] pchaigno commented on #40
Maybe there should be a first task to check the general conditions. That way we can display a proper error message when it fails.

[2015-07-27 15:17] awailly commented on #22
Not fully fixed, I only added documentation but @SpoonBoy did not patch the code. Waiting for the original fix.

[2015-07-27 15:32] awailly commented on #22
The very same bug is present on Debian 7.0.

[2015-07-28 07:09] pchaigno opened #48 "Duplicate logs in Raspbian"
On a Raspbian (release 2015-05-05), after running the playbook once (with `use_apparmor = False`) and restarting:
- in `/var/log/`, `syslog`, `messages`, `auth.log`, `kern.log` and `user.log` fill up with several warnings/messages that seem to repeat an infinite number of times.
- The rsyslog daemon is using 100% of the CPU.

[2015-07-28 07:22] pchaigno commented on #48
Setting `send_rsyslog_remote` to False during the first run fixes the issue.
Looks related to #44 except that I didn't enable AppArmor :confused:

@awailly Maybe we should set  `send_rsyslog_remote` to False by default...

[2015-07-28 08:14] awailly commented on #48
Yes, seems to be in line with #44. I added some documentation in the `default/main.yml` to describe the bug, @paskl47 have to add it in the documentation. The bug is that you have localhost as remote syslog, failing and retrying everytime. It kill the CPU and disk space.

For the `send_rsyslog_remote` suggestion, I had preferred to force the user to have a remote syslog server. However I understan

[2015-07-28 08:28] pchaigno commented on #48
To do before we close the issue:
- [x] document the bug ;
- [x] save rsyslog logs locally by default.

[2015-07-28 09:34] sabriedd commented on #22
I would rather go for a " won't fix " ... as said in the repository title, it is intended to be used on **Ubuntu** systems, and testing are actually done on Debian, so we're going to face many more issues like this. Working on those is a little bit time consuming and could be spent on other problems. We should avoid to scatter for now.

(And the bad news is that the Debian CIS ruleset is from 2007

[2015-07-28 09:38] awailly commented on #22
Ok some news. The ubuntu config setup the boot config file with :

[code]

while debian is:

[code]

So we have to add kernel boot parameters `apparmor=1 security=apparmor` to set the default security apparmor. It is `grub` on ubuntu but `syslinux` `/boot/extlinux/extlinux.conf` on debian (and `/extlinux.conf`).

The modification can be checked with the `/proc/cmdline` file :

[code]

to

[code]

[2015-07-28 13:16] awailly commented on #22
I think the problem is more general than Ubuntu vs Debian, but more that we are only supporting grub to add kernel boot options. The good way to solve it is to make a separate test case for each.
- [ ] Add the information in the documentation for apparmor @paskl47
- [x] Syslinux support @SpoonBoy
  - [x] Add a specific test to stop if both CONFIG_DEFAULT_SECURITY_APPARMOR and grub are not present

[2015-07-29 08:45] awailly opened #52 "Add docker information in the documentation"
@pchaigno created a Dockerfile to build a secure instance of an Ubuntu container. Can you add this to the documentation @paskl47 ?

[2015-07-29 08:58] pchaigno commented on #52
The Dockerfile actually builds instances for 3 Ubuntu versions and the two last Debian versions (yes, in the same Dockerfile) so I don't think it should be used for anything else than tests...

[2015-07-29 12:03] awailly commented on #48
Closed with #54 from @paskl47.

[2015-07-29 12:03] #48 closed

[2015-07-29 13:28] #40 closed

[2015-07-29 16:04] pchaigno opened #56 "No update for rsyslog logs location"
The location of the logs isn't updated when applying the playbook twice with different settings.

I ran the playbook once with `send_rsyslog_remote = True`, rebooted and ran it a second time with `send_rsyslog_remote = False`. As a result rsyslog still tries to send the logs remotely.

[2015-07-29 17:01] pchaigno opened #57 "Command line utility for deployment"
We mentioned at some point (probably on IRC though) that we could have a Bash script for deployment distributed with the [releases](https://github.com/awailly/cis-ubuntu-ansible/releases).

The goal is to have a simple command line utility for users who want to test this without the *burden* of installing Ansible, reading the documentation, etc. So the script should install everything, set up the

[2015-07-29 19:16] awailly commented on #57
I think this is a pretty good idea. The current project is moving from a straightforward ansible role to a full-fledged hardening solution. So I suggest to setup another project for this one, *pimpmyubuntu*. That way we will have two clean projects with specific tasks.

[2015-07-29 19:32] awailly commented on #56
So you have the bug without even changing the `send_rsyslog_remote` value ?

[2015-07-29 20:31] pchaigno commented on #57
I'm not sure there's much for a full project here. Without *cis-ubuntu-ansible*, *pimpmyubuntu* is nothing. Couldn't we develop it in a separate [empty branch](https://github.com/awailly/cis-ubuntu-ansible/tree/19465e30c51d1119856382b4529cd1f6c20980f9)?

[2015-07-29 20:34] pchaigno commented on #56
Uh, that was a typo, I fixed it ;)

[2015-07-30 09:01] awailly commented on #56
Oh OK. Yes the tasks are skipped if `send_rsyslog_remote` is false, and do not remove the lines.

[2015-07-30 09:04] pchaigno commented on #56
Is that the expected behaviour?
It seems correct for the other options because we don't want to "de-harden" but this one doesn't make things less secure, right?

[2015-07-30 09:08] awailly commented on #56
Exactly my point. But it makes the system less secure to remove rsyslog. So I can modify the variable name to `set_rsyslog_remote` to be more correct on the behavior.

[2015-07-30 09:09] pchaigno commented on #56
Okay but what about `remote_logs_host_address` then? We should be able to change it, right?

[2015-07-30 09:14] awailly commented on #56
Yes, some work needed on 8.2.5.1 and 8.2.5.2 for that.

[2015-07-30 09:29] pchaigno commented on #10
I now have the same issue on Ubuntu 15.04 :/
Anything we can do?

[2015-07-30 11:05] awailly commented on #10
What is your ansible version ?

[2015-07-30 11:06] pchaigno commented on #10
1.9.1, I'll update and test again.

[2015-07-30 12:40] awailly commented on #52
Partially addressed with #58

[2015-07-30 12:40] #52 closed

[2015-07-30 12:58] pchaigno commented on #10
@awailly Same error with the updated version (`1.9.2`) :/

[2015-07-30 13:09] #56 closed

[2015-07-30 13:11] pchaigno commented on #56
Should we do that for the beta or pre-release?

[2015-07-30 13:12] awailly commented on #56
Pre-release, this is not mandatory and more an enhancement than a bug.

[2015-07-31 13:27] paskl47 opened #60 "No warning for the tests "Create Seperate Partition""
For the tests "Create Seperate Partition..." only a message is return, but no test in fstab is performed.
Add a test in fsab and create a warning in logs.

[2015-07-31 13:29] sabriedd commented on #60
Yes, as said by @paskl47 it is a more precise way to do.
We could check if partitions are present, ignore errors if they're not, but we could still see those steps are missing in the playbook recap and in the future pdf export.

[2015-07-31 13:52] pchaigno commented on #60
:+1:

That's an issue for the report generator, don't you think?

[2015-07-31 14:04] paskl47 commented on #60
Exactly, the report generator will use warnings in logs to generate a report. So, we need to test partition creation in fstab to create log.

[2015-08-14 14:21] pchaigno commented on #57
@awailly Have you given some thought to this?

[2015-08-14 15:20] awailly commented on #57
No, we have to :)

[2015-09-04 22:10] pchaigno commented on #57
Working on this at https://gist.github.com/pchaigno/a9670e6d1b2dc5352d9f.
I only have to tune the environment and the script will be ready.

I'm not really sure how I should proceed with that last step though.
Should I create a desktop config (keep X server and local logs) and copy it in the script as we do for tests? It would limit the script to a desktop usage. Alternatively, I could present the

[2015-09-07 12:33] awailly commented on #57
Brilliant! I think the script can only keep the desktop version, and then the user will have to dig more if he wants more hardening.

If you think users with raspberry also need the script then I would go with the second solution, but I believe that your script is more aimed at first time users. It will make the entry level way more easy.

[2015-09-14 08:58] awailly commented on #60
@paskl47 @SpoonBoy Did you sort it out ? Can you update the `tasks/section_02_level1.yml` file and replace the debug messages with `/etc/fstab` tests ?

[2015-10-02 10:01] csikman opened #66 "12.8 Find Un-owned Files and Directories shell command issue"
Hi,

I think I've found an issue in section_12_level1.yml  regarding "12.8 Find Un-owned Files and Directories" section.
In the current version shell command is the following:
df --local -P | awk {'if (NR!=1) print $6'} | xargs -I '{}' find '{}' -xdev -nogroup -ls
I think it should be the following:
df --local -P | awk {'if (NR!=1) print $6'} | xargs -I '{}' find '{}' -xdev -nouser -ls
If you chec

[2015-10-02 10:33] awailly commented on #66
Hi,

Very nice finding thank you. I will fix it now, tell me if everything is good on your side then.

[2015-10-02 10:42] #66 closed

[2015-10-02 13:15] tamascsiszarvcc commented on #66
You're welcome and also thank you for the awesome tool :). I've checked the fix and it woks fine.

[2015-10-17 08:02] pchaigno opened #69 "Error when SSH server is not installed"
When running on an Ubuntu Desktop 14.04.3 LTS without `openssh-server` installed:

[code]

[2015-10-17 10:51] awailly commented on #69
Good spot. Mainly due to the local connection right? I will add a check for
a specific sshd file before tasks and use a dedicated "when:" clause.

Le Sam 17 Oct 2015 10:02, Paul Chaignon notifications@github.com a écrit :

[2015-10-17 11:48] pchaigno commented on #69
Not sure what you mean :/
If I install `openssh-server` before applying the playbook, it works perfectly.

[2015-10-18 08:00] awailly commented on #69
I meant that you are executing `ansible-playbook` through `-c local`, and that you do not need SSH to perform the remediation.

[2015-10-18 11:44] #69 closed

[2015-10-18 13:03] #60 closed

[2016-01-05 07:54] nagthgr8 commented on #22
Rebooting after adding this line GRUB_CMDLINE_LINUX=apparmor="1 security=apparmor"  has stopped my debian 8 to work, I had to undo above change for the system to function.

Maybe the later solution by @awailly would work but I prefer not to have apparmor installed on my linux rather trying not so safe methods

[2016-01-05 08:26] awailly commented on #22
Can you specify the lines you had to remove? It will definitely help others when encountering the exact same issue.

Did you try to set the use_apparmor to False? It may be more close to your expected environment, and should do the same as removing #55. If you tried and had a non functional system due to apparmor, we definitely need the logs to improve the option.

[2016-01-13 11:19] jsharpe opened #75 "Fails to run on ansible 2.0"
This fails to run with ansible 2.0. Error message below:

fatal: [localhost]: FAILED! => {"failed": true, "reason": "ERROR! this task 'debug' has extra params, which is only allowed in the following modules: command, shell, script, include, include_vars, add_host, group_by, set_fact, raw, meta\n\nThe error appears to have been in '/etc/ansible/roles/awailly.cis-ubuntu-ansible/tasks/check_requireme

[2016-01-13 11:58] awailly commented on #22
The issue seems to be addressed by both the use_apparmor answer, and fix explained in https://github.com/awailly/cis-ubuntu-ansible/issues/22#issuecomment-125523227.

8 days auto resolve, will re-open when having answers from @nagthgr8.

[2016-01-13 11:58] #22 closed

[2016-01-13 12:01] awailly commented on #75
The current version was not tested against ansible 2.0. I will have a look and keep this issue updated.

[2016-01-24 13:55] pchaigno commented on #75
@awailly I started working on this at [`ansible-2.0-compliant`](https://github.com/awailly/cis-ubuntu-ansible/tree/ansible-2.0-compliant); I could use some help. The idempotence test is still failing and I can't figure out why :/

[2016-01-24 15:42] awailly commented on #75
I spun up a 14.04 instance with ansible 2.0.0.2.

Summary
- [x] Run one time successfully with ansible > 2.0
- [x] Retro-compatible with <2.0 - Status: WIP
- [x] Run level 2 without errors. Status: Next
- [x] Idempotence - Status: WIP
  - [x] 6.15 - Level 2 known bug, no impact https://github.com/awailly/cis-ubuntu-ansible/blob/5d7873b8c8f29f29b5a16d09695bfc326fbd9cbb/.travis.yml#L30-L33
  - [x] 1

[2016-02-25 03:39] memelet opened #77 "Make the tool for 8.3.1 plugable (currently AIDE)"
(Thoughts in progress...)

We are currently using OSSEC on all nodes. OSSEC comes with Syscheck, which I think performs the same function as AIDE. Would it be possible to factor out the bit that installs AIDE?

I'm not really sure just how this would work though. At least in our playbooks we run cis first, then ossec after. So file checking won't be installed when cis runs. I could swap the two, b

[2016-02-25 06:18] memelet opened #78 "13.8.2 Check User Dot File Permissions fails if dot file is a link"
eg,
[code]

[2016-02-25 08:58] memelet commented on #78
The fix for this to add 'follow=yes':

[code]

[2016-02-25 09:55] awailly commented on #78
Excellent, would you mind issuing a Pull Request? I can do it, but this is your work.

[2016-02-25 09:58] awailly commented on #77
To be clear, you want to perform a level 2 conformity with AIDE disabled ?

Will it suit your need if we set a `with_aide` variable on AIDE related tasks in https://github.com/awailly/cis-ubuntu-ansible/blob/master/tasks/section_08_level2.yml ?

[2016-02-25 11:53] systeminsightsbuild commented on #77
Well, I don't want to bypass the conformity, but rather provide for other options than AIDE. I've just started using this role today, and am rebuilding 50 or so AWS nodes. Maybe I will have a more coherent position after some time. For now, I'm just letting AIDE get installed along with Syscheck from OSSEC.

[2016-02-26 06:56] memelet opened #81 "question: What might be blocking UDP outbound?"
I find that after running the playbook the OSSEC agent on the node can no longer contact the OSSEC server on UDP port 1514.

I'm digging thru all the controls, but if anybody can help me along I would really appreciate it.

[2016-02-26 10:52] memelet commented on #81
Well, I think this may be a decoy. I just rebuilt the instance and this time there is no block. Give me a bit and I will close this as noise.

[2016-02-26 11:42] awailly commented on #77
Ok. How do you foresee the file integrity module architecture? Did you get some ideas after deploying on your nodes?

[2016-02-26 11:43] awailly commented on #81
Ok, I was not able to reproduce and we are not performing iptables modifications related to UDP that I can remember of. Reopen if you have this again.

[2016-02-26 11:43] #81 closed

[2016-02-26 12:31] memelet commented on #81
Confirmed. This was a decoy. Sorry for the noise.

[2016-02-26 12:40] memelet commented on #77
I'm not close to having a proposal for this. Do you want to close and I will open when I have proposal?

But my thinking would be something along the lines of: A variable to allow for the check of an OSSEC installation with file integrity configured, fail if not. Otherwise install AIDE.

Installing OSSEC is way to complex and way out of scope to try to install in this role, I would think.

[2016-02-26 12:43] awailly commented on #81
No worries.

[2016-02-26 12:44] awailly commented on #77
No, leave it open. I will come with something when we are ready. I just wanted to fit your needs.

[2016-02-26 12:45] memelet commented on #77
Ha! My needs. This project is superb. It was just what I needed and it works like a charm.

[2016-02-26 12:48] pchaigno commented on #77
@awailly We could introduce a `use_aide` variable as a first step. What do you think?

[2016-02-26 12:50] awailly commented on #77
Yes it was my first idea, renamed to `with_aide`. It is in the queue after 2.0 support.

[2016-02-26 12:52] pchaigno commented on #77
:+1:

We already use `use_apparmor`. We can change but we need to be consistent ;)

[2016-02-26 12:57] awailly commented on #75
The bug was due to a directory creation and deletion just after. It will be fixed with ansible 2.0 merging.

[2016-02-26 13:07] awailly commented on #77
Absolutely make sense, thanks. I will add the `use_aide` on 8.2.

[2016-02-26 15:50] #75 closed

[2016-02-27 15:57] #78 closed

[2016-03-01 15:21] systeminsightsbuild opened #82 "Create variable for default ntp server (section6.5.4)"
Depending on where the instance is located, France may not be the closest or best ntp server.

(I will submit a PR shortly)

[2016-03-01 21:26] pchaigno commented on #82
@systeminsightsbuild Nice catch! :+1:

[2016-03-02 21:35] pchaigno commented on #82
Fixed in #83.

[2016-03-02 21:35] #82 closed

[2016-03-11 07:33] memelet commented on #77
I just started to work on this and I see in section_08_level2.yml

[code]

I'm not sure what the implication of this is. In my playbooks OSSEC (and its file integrity checker) is installed after CIS. I have not seen any problems doing this so far, but maybe I am missing something?

[2016-03-11 23:10] awailly commented on #77
The implication is that if we perform the suid binaries check before the AIDE installation, we will miss some sensitive binaries that are installed by AIDE.

Your current workflow with OSSEC will not present any issue if the OSSEC installation does not create files that trigger a new line in the 8.1.12 check. Is the workflow idempotent?

[2016-03-12 04:11] systeminsightsbuild commented on #77
Hmm, I run a lot of stuff (different depending on the node's role) after the CIS role. Early on I found some instabilities if run CIS on already built nodes but did not take much time to investigate. But now I wonder if I should be running CIS last.

All of our playbooks are idempotent. But I'm pretty sure that some files gets installed with permissions different than CIS would desire. Also CIS al

[2016-03-12 05:39] systeminsightsbuild opened #86 "8.2.4.1 creates invalid file list for certain rsyslog configs"
I have the config
[code]

This puts the value ```file="/var/log/marathon.log"``` in ```results```, which ends up failing 8.2.4.3 since that is not a simple file name.

I'm a bit of novice when it comes to syslog configs -- I just copied the above from somewhere and made it part of my marathon install role.

Is this is case that should be handled? Or should I have a different form in the config?

[2016-03-12 05:57] systeminsightsbuild commented on #86
I cobbled together a sed that cleaned up the filename. Not sure if this is best way to handle this though.

current file list:

[code]

Using:

[code]

cleaned file list:

[code]

This seems so ad-hoc.

[2016-03-12 08:12] systeminsightsbuild opened #87 "Add cache_valid_time to 1.1.1"
Maybe:
[code]
With ```apt_cache_valid_time: 3600``` in defaults/main.yml

As part of our base playbook we already update the cache. Setting a valid time in 1.1.1 would prevent from updating the cache again. I've seen lots of larger playbooks also update the cache, so this should be generally useful.

[2016-03-12 09:03] pchaigno commented on #87
:+1:

A 1 hour cache seems reasonable to me. @awailly ?

[2016-03-12 09:21] systeminsightsbuild commented on #77
I used "Resolves" instead of "Closes" in the commit. Does that mean this issue needs to be closed manually?

[2016-03-12 09:24] pchaigno commented on #77
[Resolves works](https://help.github.com/articles/closing-issues-via-commit-messages/), it's just that you have to use the following syntax for the issue number: `resolves #77` ;)

[2016-03-13 02:02] awailly commented on #87
Good for me!

[2016-03-13 02:07] awailly commented on #86
Ok this one needs more attention, I was not aware of advanced rsyslog configurations.

[2016-03-13 08:17] pchaigno commented on #87
Resolved in #88.

[2016-03-13 08:17] #87 closed

[2016-03-18 11:30] #77 closed

[2016-03-19 16:45] memelet opened #89 "Role fails to run if skipped"
When the role is skipped, eg
[code]

A 13.18 fails with
[code]

This may or not be problem with ansible 2.0, but it is with 1.9.x.

To handle this case the two 13.8 with_item values need to be changed to
[code]

[2016-03-19 20:54] awailly commented on #89
Good catch. Can you describe how you skipped the role? I wonder why only 13.18 is impacted by this issue. It looks like all defaults should be set this way.

What are the values of `home_users` and `netrc` when you skip the role? You can display this with a debug clause.

[2016-03-20 04:11] memelet commented on #89
I don't know why it was just those two from 13.18, but no others had a problem. Ansible is not very consistent, or I should say intuitive, in how it deals with looping. In this case, I think the with_items is used as a generator and the tag filtering is applied for each generated task. So even if filtered there needs to be valid for the with_items.

In the case of 13.18 the variables are simply un

[2016-04-03 09:02] memelet commented on #86
Any thoughts on what to do with this?

[2016-04-04 06:15] awailly commented on #86
I tried to get the maximum number of files that rsyslog can write to, but there is room for user defined scripts and I unfortunately cannot see any command that we can run to catch all of them.

[2016-04-04 08:00] pchaigno commented on #86
What if we use one the following regexp instead of the one in 8.2.4.1:

[code]

It does suppose log files are in `/var/log` and their names only contain alphanumeric characters, but that seems like a pretty fair assumption, no?

[2016-04-04 08:21] memelet commented on #86
@pchaigno I like that.

[2016-04-04 11:22] pchaigno commented on #86
Fixed in #91.

[2016-04-04 11:22] #86 closed

[2016-04-12 06:49] memelet opened #93 "8.2.4.3 ower/permission change causes auth.log and syslog to not be written to"
On allI CIS'ed systems I find that /var/log/auth.log and /var/log/syslog are empty. If I change the owner of these files to 'syslog' and restart rsyslog then logs are written.

The task is clearly consistent with the benchmark. So I am confused as to what is missing on my systems.

[2016-04-12 08:44] #93 closed

[2016-04-12 09:20] pchaigno commented on #93
While this bug can be fixed with #94, I'd be curious to know what was causing it.

[2016-04-12 09:43] memelet commented on #93
Yes, me too. I'm guessing that rsyslog is not run as root?

I'm now using

[code]

Now rsyslog is again writing to /var/log/*

[2016-04-12 09:49] awailly commented on #93
This should be in a comment in the configuration file, as you will not be the only user affected.

For debug, `ps aux | grep rsyslog` but I would be surprised if rsyslog runs as root.

[2016-04-26 11:21] kamrava commented on #22
What about Ubuntu 16.04 ?
I have the same problem on Ubuntu 16.04

[2016-04-26 12:25] awailly commented on #22
Do you mind creating a new thread with your issue, what you tried in this thread, what is failing and how?

[2016-05-02 10:23] bpuri-gpsw opened #98 "ansible_version.full is not supporting in 2.0.2.0"
The following condition in check_requirement.yml is not working with latest version of ansible - 2.0.2.0
ansible_version.full | version_compare('1.8', '<')

[2016-05-02 10:52] awailly commented on #98
Thanks @bpuri-gpsw, can you provide the error?

[2016-05-02 11:17] awailly commented on #98
@pchaigno is trying to reproduce the issue with travis in https://github.com/awailly/cis-ubuntu-ansible/tree/test-ansible-2.0.2.

[2016-05-02 11:38] pchaigno commented on #98
@bpuri-gpsw [I can't reproduce](https://travis-ci.org/awailly/cis-ubuntu-ansible/jobs/127192071#L516). The error message could help :smiley:

[2016-05-11 10:24] memelet opened #99 "The problem with tags... (question really)"
I have certainly playbooks that need (ok want) to skip some checks. For example, 12.8 which checks for un-owned files when I am rebuilding an elasticsearch node and reattaching an existing EBS volume. When CIS runs, the elasticsearch user has not been created yet and the elasticsearch role that will set the owner of the data files on the EBS has not run yet. So the gazillion elasticsearch files on

[2016-05-11 19:15] awailly commented on #99
On my side I always run the CIS playbook at the end as it check that everything is correct. I also feel like running it before open the door for the next playbook to destroy everything the CIS playbook was trying to achieve. This way, I can launch the CIS benchmark several times, say once a week, and be sure that my node is fully compliant.

I miss why you can't have the base image and the CIS pla

[2016-05-11 20:23] pchaigno commented on #99
@memelet Just to clarify, you'd like a way to use cis-ansible-ubuntu in your own playbook and skip some of its tasks, is that it?

@awailly I think he'd like to create a hardened base image on which he can build more specific images (@memelet correct me if I'm mistaken).
What's not clear to me is why part of the Elasticsearch installation is performed in the base image and part of it after... In o

[2016-05-12 04:37] memelet commented on #99
@awailly, @pchaigno

Yes, I meant as a hardened base image from which instances are bootstrapped using ansible. But given @awailly's reasoning for running last I may forgo this desire of a _base_ image.

@pchaigno If I created a base image it should be closed to whether the ultimate instance was for elasticsearch, kafka, mesos, etc. So I would not want to do role specific stuff in the base image.

[2016-05-12 04:37] #99 closed

[2016-05-20 17:20] memelet opened #100 "2.17.2 can fail if no files are found in 2.17.1"
[code]

But I don't see why 2.17.1 was skipped.  I certainly had no skip-tags specified.

[2016-05-21 04:02] memelet commented on #100
I fully perplexed as to what could cause this to be skipped. I am running with no tag options at all. Could the always_run be having some strange effect?

[code]

[2016-05-21 04:17] memelet commented on #100
Ok, total user error. It was my fancy "only run CIS once" persistent fact setup.

Ansible 1.9, even though a task will be skipped, will still try evaluate the with_items since the when clauses are executed on each of the items from with_items. Besides that I don't think I need to ever skip CIS anymore, even if I did it would require lots of changes all over the place to put in defaults for most ev

[2016-05-21 04:17] #100 closed

[2016-05-23 07:31] senior-sigan commented on #98
@pchaigno Hello. I got this error message:

[code]

My ansible version is: `2.0.2.0`
Host OS is `Ubuntu 16.04 LTS`
Target OS inside vagrant is `Ubuntu 14.04 LTS`

[2016-05-23 11:07] awailly commented on #98
Related to https://github.com/ansible/ansible/issues/15572, but it seems to have been fixed a month ago.

[2016-06-13 14:58] memelet opened #101 "2.17.2 Set Sticky Bit on All World-Writable Directories fails is no files found"
If section 2.17 is skipped section 2.17.2 will result in the following error:

[code]

This is really a general problem with ansible (at least with 1.9) in that even though a task is skipped its with_items is still evaluated.

[2016-06-13 15:01] memelet commented on #101
If acceptable I will submit a PR that defaults all with_items variables with default([])... ?

[2016-06-19 10:07] memelet commented on #98
I was able to run successfully with 2.1 and 2.1.1-RC

[2016-06-19 10:20] memelet opened #103 "Provide variables for all of 7.1"
7.1.1 Disable IP Forwarding sets net.ipv4.ip_forward=0. But this pretty much breaks docker. I don't know why I just ran into this today and not many months ago (could be that I have moved running CIS at the end of playbooks):

I would really like to disable a few of the 7.1's. This exclusion really should be configured in the playbook and not left for someone to remember to add --exclude-tags. Usi

[2016-06-19 17:31] awailly commented on #98
@blan4 were you able to run it successfully with 2.1 ?

[2016-06-19 17:34] awailly commented on #103
Not sure for docker, but making the step configurable is a nice improvement. I will merge the #104 to fix this.

[2016-06-19 17:38] awailly commented on #103
@memelet if the PR was enough, feel free to close the issue. If this was more a brain storming about having the whole 7.1 section configurable, tell me. This will require more changes to keep the process simple.

[2016-06-19 17:45] awailly commented on #101
Is the PR #102 fixing all of the `with_items` issues? I will look, but any way to fix it in the role parameter? Otherwise it will be error-prone if we need to add more steps and forget about this issue.

[2016-06-19 18:05] awailly commented on #101
Ok so the issue is http://stackoverflow.com/questions/35470667/ansible-with-items-when-item-is-defined. This is specified in the documentation at http://docs.ansible.com/ansible/playbooks_conditionals.html#the-when-statement. I was completely unaware of this, and I think this is a strong design issue from Ansible. Anyway, we need to merge #102 with some modifications ASAP to prevent the problem. I

[2016-06-19 18:05] awailly commented on #89
@memelet do you mind if we close this one in favor of the more generic #101 ?

[2016-06-20 00:48] #103 closed

[2016-06-20 00:49] memelet commented on #89
I guess I lost track of this issue. Yes, I will close.

[2016-06-20 00:49] #89 closed

[2016-06-28 19:40] isiahw1 opened #105 "Default grub password"
I have a client who ran this on their machine and has since forgotten their root password. This, along with the grub password that is now in place, effectively locks us out of the machine. Is there any way for me to find out what the grub password was set to?

[2016-06-28 20:14] awailly commented on #105
@isiahw1 as stated in the config, the default password for grub should be `root`. Please tell us if it helps you.

[2016-07-03 02:31] #105 closed

[2016-07-09 17:32] #98 closed

[2016-07-10 17:15] pchaigno commented on #101
Fixed with #108.

[2016-07-10 17:15] #101 closed

[2016-07-21 18:56] aioue opened #111 "Consider submitting as submodule to official ansible repo"
To add to the existing RedHat lockdown.

https://github.com/ansible/ansible-lockdown

[2016-08-25 12:28] janekolszak opened #112 "Ubuntu 16.04 compatibility"
Awesome project! Thank you so much for providing this!

Is it ready for Ubuntu 16.04?

[2016-08-25 12:49] awailly commented on #112
Thank you! Last time I checked, CIS did not offer 16.04 as a supported OS. Did it change?

[2016-08-25 15:35] pchaigno commented on #112
@janekolszak It should work on Ubuntu 16.04, but it will apply CIS Ubuntu 14.04 hardening rules.

[2016-09-05 19:26] cpliakas opened #114 "The 6.15.2 recommendation is not met when AIDE is set to be installed"
After running this role and auditing the results with the [The CIS-CAT Benchmark Assessment Tool](https://benchmarks.cisecurity.org/downloads/audit-tools/#cis-cat), I noticed that the `6.15 Configure Mail Transfer Agent for Local-Only Mode` assessment was failing. After digging in, it seems that AIDE has a dependency on an MTA, which in Ubuntu defaults to Postfix. See https://ubuntuforums.org/show

[2016-09-06 21:48] awailly commented on #114
Nice catch. If we do the task AIDE task before the `6.15.2` one, will it configure the MTA according to the tool? I remember having to deal with similar issues, and that's why we had to modify the order of several tasks.

[2016-09-07 03:07] cpliakas commented on #114
Yes, if the AIDE task is run before the `6.15.2` one then the MTA is correctly configured. I am more than happy to do the leg work and submit a PR if I can get some guidance on how you envision this happening. Thanks for the response!

[2016-09-07 04:35] pchaigno commented on #114
I'll launch some tests on branch [`invert-sections-6-8`](https://github.com/awailly/cis-ubuntu-ansible/tree/invert-sections-6-8) to see how we can reorder that exactly.

[2016-09-07 05:14] pchaigno commented on #114
@cpliakas Could you check that [this change](https://github.com/awailly/cis-ubuntu-ansible/commit/b6dd10dbe61de1a7688df281b75b0db656ade942) fixes the issue for you?

[2016-09-07 12:23] cpliakas commented on #114
@pchaigno Yes! Works perfectly for me.

[2016-09-08 07:22] #112 closed

[2016-09-09 08:51] #114 closed

[2016-11-21 16:02] UTAS-Nick-Howden opened #121 "Variable quoting required to meet stricter syntax in ansible 2.0"
In file tasks/section_08_level2.yml

with_items: audit_lines_for_find.stdout_lines
should be
with_items: "{{ audit_lines_for_find.stdout_lines }}"

Without the extra quoting the generated file contains the line
audit_lines_for_find.stdout_lines
which is not the intended behaviour

Believe this is because of stricter syntax in Ansible 2.0

[2016-11-22 04:54] awailly commented on #121
Yes, nice catch. Do you mind creating the pull request to be sure that you have the correct fix?

[2016-12-21 13:59] eastokes commented on #121
I've noticed several other variables and commands that should be quoted to follow best practices. I'll likely take on this work.

[2016-12-21 14:12] eastokes opened #124 "Rsyslog write permissions"
I'm wondering if anyone has experience with the following issue while trying to meet CIS recommendations:

CIS recommends all log files be owned by root:root or root:<secure group>.
Rsyslog is configure by default to run and write to logs as syslog:adm.

Rsyslog starts elevated as root:root and then drops privileges, thus is still able to write to files owned by root:root as long as they were open

[2016-12-30 23:51] eastokes opened #125 "/etc/login.defs PASS_MIN_DAYS"
I am continuing to vet the work done in this repo for my own implementation and will document some issues I've found. Likely I will submit PRs in the coming weeks.

/etc/login.defs
PASS_MIN_DAYS 0 <- this does not get updated.

[code]

I believe the issue is .stdout_lines should be .stdout, there are several other instances where stdout_lines is used incorrectly.

[2017-01-18 16:54] erickt opened #132 "CIS Benchmark for Ubuntu 16.04 has been released"
FYI in case you all haven't seen that the latest benchmark has been [released](https://benchmarks.cisecurity.org/downloads/show-single/?file=ubuntu1604.100) for Ubuntu 16.04 Xenial.

[2017-01-24 07:24] #125 closed

[2017-02-06 19:13] adespain commented on #132
Does this ansible role work with 16.04?

[2017-02-06 19:54] awailly commented on #132
Thanks for the pointer. I think it does not work for 16.04 out of the box. This project was focused on 14.04. Did you give it a try?

[2017-02-09 22:07] adespain commented on #132
@awailly I have tried it but it looks like a lot of them get skipped...I still need to play around with it, also do you know why the cis benchmark pdf download only shows 6 sections but your ansible playbook has 13 sections?

[2017-02-09 23:06] eastokes commented on #132
@adespain Version 1.0 of the CIS PDF has 13 sections, which this repo is written for. CIS PDF Version 2.0 for 14.04 was released along with the new 16.04 recommendations and was re-written with 6 sections. I haven't looked through what has changed with 2.0 yet.

[2017-02-28 16:23] memelet opened #135 "Skipping via tags on role yields lots of errors"
This is related #101, #102, #108 I think.

When I run
[code]

I get errors for all the places where there is no default for an array, eg
[code]

The PR that was ultimately applied I think only works for check mode but not when tasks are skipped like above for via --skip-tags.

So I think the PR https://github.com/awailly/cis-ubuntu-ansible/pull/102 is still required.

We have been running with a b

[2017-02-28 16:27] memelet commented on #135
Hmm, I think I misunderstood what happening. I still get the above errors even with mods like
[code]
(note the `| default([])` in the with_items)

So maybe it's even worse now with 2.1.2.0. Before the default was enough, now default is not strong enough to overcome `result` not being set by the skipped task.

[2017-02-28 16:56] memelet commented on #135
Oh boy, this is nasty. Here is one way to get rid of the warning:
[code]
But just wait, maybe with next version of ansible this fix will get even worse.

[2017-02-28 17:07] memelet commented on #135
~It can be cleaned a bit with the var~
[code]
then
[code]

The above does not really work because there are lots these warnings using different variable names and sometimes different list properties.

So, I hope there is some desire here to eliminate these kinds of warnings not only in check mode but also when skipping. ~Not saying any of the above are good solutions just yet~, but I would least l

[2017-02-28 20:01] adespain opened #136 "8.1.3.3 not applied"
It appears this will only get applied when the grub file does not exist... probably need to remove the 'not' in the when clause.

[2017-03-03 22:42] adespain commented on #124
Hmm, I just checked auth.log and noticed that nothing had been written to the log since I ran the cis role to update those permissions but also other logs in var/log aren't getting written to so maybe it's something else...I'll do some more checking.

[2017-03-06 19:07] adespain commented on #124
http://serverfault.com/questions/518975/rsyslog-is-not-working-properly-it-does-not-log-anything
the ownership on my log files isn't correct anymore...

8.2.4.3 is the one that breaks rsyslog so that it won't log anymore.  Need to fix so it doesn't change it to root:root

[2017-03-06 19:40] eastokes commented on #124
Yeah I've changed my logs to syslog:adm which counts against the CIS score, but it seems like a more secure solution than keeping rsyslog running as root.

[2017-03-06 20:52] adespain commented on #124
Looks like the Ubuntu 16.04 benchmarks don't modify log permissions, so they must have realized that wasn't good or something...

[2017-03-08 16:16] memelet commented on #135
The commit above is what i had to do eliminate the errors. Pretty much what my original PR was, but a big uglier. Shall I submit as a PR?

[2017-03-09 07:43] awailly commented on #135
@memelet Yes totally, I more inclined to accept PR now that I understand the issue!

[2017-03-09 07:45] awailly commented on #124
Nice spot! How should we modify 8.2.4.3 to have /var/log/auth.log with the correct permissions?

[2017-03-09 07:55] awailly commented on #136
Yes, pending #126 comment, and I will merge.

[2017-03-09 18:19] eastokes commented on #124
I'm hesitant to modify the roles as any fix would not be compliant with v1.0 of the CIS PDF. I do think it's an oversight of the PDF, but those looking for strict compliance should probably keep things as they are.

[2017-03-09 19:31] adespain commented on #124
I haven't tried this on 14.04 but on 16.04 if you change the permissions to root:root rsyslogd won't have permissions to write to any of the log files any more which seems like a larger security risk...

[2017-03-09 20:23] awailly commented on #124
Ok, I think we will need a `strict` and `lazy` modes then. The `strict` mode would apply the CIS as-is,  and not take care of the issues we detect. If more similar issues appear, with a reasonable approach to fix it, we will implement the `lazy` mode as a dedicated configurable option.

@eastokes, @adespain, does it sound like a solution for this issue?

[2017-03-09 23:34] adespain commented on #124
I just looked and CIS 14.04 v2 benchmarks also remove the permissions change...maybe put a warning that says "some CIS 14.04 v1 benchmarks are insecure and that is why they published version2 -version 2 is recommended..."  or something :)

[2017-03-16 21:47] ShadySQL commented on #136
Did you merge @awailly

[2017-03-17 01:47] awailly commented on #136
Yes, it has been merged!

[2017-03-17 01:47] #136 closed

[2017-03-20 11:48] rubenrodr-versia commented on #132
I have adapted the new CIS version for 16.04 using your previous work and uber's mountopts library:
https://github.com/grupoversia/cis-ubuntu-ansible

[2017-03-20 15:35] awailly commented on #132
Awesome!

[2017-04-18 16:12] elaske commented on #132
@rubenrodr-versia Nice. However, your naming in that is off compared to the CIS PDF. I'll open an issue on your repo if you'd like.

[2017-05-03 09:34] truongsinh commented on #112
@awailly @pchaigno yes, it changed, CIS offered 16.04 now, should this ticket be reopened?

[2017-08-20 12:08] memelet opened #138 "always_run is deprecated"
[DEPRECATION WARNING]: always_run is deprecated. Use check_mode = no instead..
This feature will be removed in version 2.4. Deprecation warnings can be disabled by setting deprecation_warnings=False in
ansible.cfg.

[2017-10-03 09:07] pchaigno commented on #138
#134 should address this.

[2018-05-15 15:14] d3netxer commented on #23
I there a way to automatically create a /tmp partition?

[2018-06-01 21:43] memelet opened #141 "4.5.10 uses incorrect check"
The check for appamor status uses:
[code]
But the result object looks like
[code]
The check should be
[code]

[2018-06-02 06:24] pchaigno commented on #141
Isn't `when: apparmor_status.failed` enough?

Do you want to submit a pull request?

[2018-07-16 04:44] 88lexd opened #142 "Incorrect path"
This task has the incorrect path. This needs to be changed to /etc/cron.d

  - name: 5.1.7 Ensure permissions on /etc/cron.d are configured (Scored)
    file:
      path: **/etc/cron.monthly**
      state: directory
      owner: root
      group: root
      mode: 0600

    tags:
      - section5
      - section5.1
      - section5.1.7

[2018-07-16 04:45] #142 closed

[2018-07-16 05:21] awailly commented on #142
Thanks! Why did you close it?

[2018-07-16 05:35] 88lexd commented on #142
No probs!

Was looking at this fork so thought I needed to raise the issue on that instead.. :)
https://github.com/grupoversia/cis-ubuntu-ansible/blob/master/tasks/section_05_level1.yml